@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

header {
  position: fixed;
  padding: 10px 50px;
  width: 100%;
  height: 12vh;
  z-index: 99999999999999;
}

nav {
  display: flex;
  width: 100%;
  height: 100%;
  /* background-color: rgb(250, 174, 174); */
  border-radius: 50px;
  padding: 0px 50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.lft-nav {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}

.rght-nav {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.lft-nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

#logo {
  font-size: 25px;
  font-weight: 600;
}

.rght-nav a {
  text-decoration: none;
  color: black;
}

.cta {
  padding: 12px 24px;
  border-radius: 50px;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, rgb(225, 141, 246), rgb(168, 13, 196)) border-box;
  border-radius: 50em;
  border: 4px solid transparent;
}

main {
  width: 100%;
  min-height: 100vh;
  /* background-color: aquamarine; */
}

section {
  width: 100%;
  height: 100vh;
  /* background-color: orange; */
}

#one {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: hsla(0, 0%, 100%, 1);
  background-image: radial-gradient(
      at 64% 72%,
      hsla(275, 70%, 61%, 0.41) 0px,
      transparent 50%
    ),
    radial-gradient(at 40% 20%, hsla(108, 100%, 74%, 0.29) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(176, 100%, 76%, 0.29) 0px, transparent 50%);
}

.discover {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.discover p {
  background-color: white;
  border: 1px solid black;
  border-radius: 50px;
  color: rgb(110, 110, 110);
  font-size: 15px;
  padding: 5px 10px;
}

#one h1 {
  width: 70%;
  font-size: 5vw;
  text-align: center;
  color: rgb(0, 19, 61);
}

#one h1 span {
  font-family: "Playfair Display", serif;
  font-style: italic;
  color: transparent;
  -webkit-background-clip: text;
  background-image: url(https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExNTVuMnRndjJoM2ZteWppdmJyNDd6MWhpdXZyc2xsNmsxemRla3dpaCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KcnbWfsuFr7JpgowGT/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#para {
  font-size: 18px;
  color: rgb(127, 127, 127);
  width: 30%;
  text-align: center;
}

#search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40vw;
  padding: 10px 20px;
  background-color: white;
  border-radius: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  margin-bottom: 10px;
}

#search input {
  width: 70%;
  border: none;
  outline: none;
}

#one a {
  color: rgb(0, 19, 61);
}

#imageone{
  position: absolute;
  width: 15%;
  top: 25%;
  left: -2%;
  rotate: -5deg;
  border-radius: 20px;
}

#imagetwo{
  position: absolute;
  width: 15%;
  top:60%;
  left: 5%;
  rotate: 7deg;
  border-radius: 20px;
}

#imagethree{
  position: absolute;
  width: 15%;
  top:50%;
  right: 3%;
  rotate: 7deg;
  border-radius: 20px;
}
#two {
  background-color: seagreen;
}
